body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.navbar{
    background-color: #091353;
    color: white;
    width: 100%;
    text-align: justify;
    padding: 25px 10px 50px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    float: right;
    color: white;
    text-align: center;
    padding:10px 40px 10px 40px ;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
body{
    background-color: #EEEEEE;
}
p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    position: relative;
  }
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 15px;
    font-size: 18px;
    color:#ffffff;
    text-shadow: 1px 1px 3px gainsboro;
    font-weight: bold;
}  
img { 
    width: 100%;
    height: 100%;
    filter: blur(1px);
  }